*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 100px;
}
h1{
    text-align: center;
}
label{
    font-weight: 600;
    font-size: 19px;
}
.form{
    margin: 70px 0;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.form input{
    font-size: 17px;
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}
.form button{
    color: white;
    padding: 10px 14px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    border-radius: 6px;
    background: rgb(54, 163, 103);
}

/* ------------------------------------------ */

.transaction-area{
    display: none;
}
.row{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}
.col-md-4{
    padding: 30px 10px;
    color: white;
    width: 70%;
    border-radius: 5px;
}
.deposit{
    background: slateblue;
}
.withdraw{
    background: lightsalmon;
}
.balence{
    background: orange;
}
.row1{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
}
.col-md-6{
    padding: 40px 20px;
    width: 80%;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
.col-md-6 input{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
}
.col-md-6 button{
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background: rgb(54, 163, 59);
}
